@font-face {
  font-family: 'iconfont';  /* Project id 2673132 */
  src: url('//at.alicdn.com/t/font_2673132_vqxmivaqau7.woff2?t=1628761399168') format('woff2'),
       url('//at.alicdn.com/t/font_2673132_vqxmivaqau7.woff?t=1628761399168') format('woff'),
       url('//at.alicdn.com/t/font_2673132_vqxmivaqau7.ttf?t=1628761399168') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }